scenario_feat/Full_Alignment_Recordings filter=lfs diff=lfs merge=lfs -text
scenario_feat/Sub_Alignment_Recordings filter=lfs diff=lfs merge=lfs -text
scenario_feat/ filter=lfs diff=lfs merge=lfs -text
scenario_feat/** filter=lfs diff=lfs merge=lfs -text
scenario_feat/Full_Alignment_Recordings/Scenario_2 filter=lfs diff=lfs merge=lfs -text
scenario_feat/Full_Alignment_Recordings/Scenario_3 filter=lfs diff=lfs merge=lfs -text
scenario_feat/Full_Alignment_Recordings/Scenario_4 filter=lfs diff=lfs merge=lfs -text
scenario_feat/Full_Alignment_Recordings/Scenario_1 filter=lfs diff=lfs merge=lfs -text
scenario_feat/Sub_Alignment_Recordings/Scenario_1 filter=lfs diff=lfs merge=lfs -text
scenario_feat/Sub_Alignment_Recordings/Scenario_2 filter=lfs diff=lfs merge=lfs -text
scenario_feat/Sub_Alignment_Recordings/Scenario_3 filter=lfs diff=lfs merge=lfs -text
scenario_feat/Sub_Alignment_Recordings/Scenario_4 filter=lfs diff=lfs merge=lfs -text
scenario_feat/Full_Alignment_Recordings/Scenario_2/BacktraceVote filter=lfs diff=lfs merge=lfs -text
scenario_feat/Full_Alignment_Recordings/Scenario_4/Costs filter=lfs diff=lfs merge=lfs -text
scenario_feat/Full_Alignment_Recordings/Scenario_4/full_align_NM_Mid_M_recordingA.npy filter=lfs diff=lfs merge=lfs -text
scenario_feat/Sub_Alignment_Recordings/Scenario_2/sub_align_non_matching_30sec_recording1.npy filter=lfs diff=lfs merge=lfs -text
scenario_feat/Sub_Alignment_Recordings/Scenario_2/sub_align_non_matching_recording2.npy filter=lfs diff=lfs merge=lfs -text
scenario_feat/Full_Alignment_Recordings/Scenario_2/Backtraces filter=lfs diff=lfs merge=lfs -text
scenario_feat/Full_Alignment_Recordings/Scenario_2/Costs filter=lfs diff=lfs merge=lfs -text
scenario_feat/Full_Alignment_Recordings/Scenario_4/Backtraces filter=lfs diff=lfs merge=lfs -text
scenario_feat/Full_Alignment_Recordings/Scenario_1/Costs filter=lfs diff=lfs merge=lfs -text
scenario_feat/Full_Alignment_Recordings/Scenario_4/BacktraceVote filter=lfs diff=lfs merge=lfs -text
scenario_feat/Sub_Alignment_Recordings/Scenario_1/sub_align_matching_recording2.npy filter=lfs diff=lfs merge=lfs -text
scenario_feat/Sub_Alignment_Recordings/Scenario_3/sub_align_matching_recording2.npy filter=lfs diff=lfs merge=lfs -text
scenario_feat/Full_Alignment_Recordings/Scenario_3/Costs filter=lfs diff=lfs merge=lfs -text
scenario_feat/Full_Alignment_Recordings/Scenario_3/full_align_M_Mid_misM_recordingA.npy filter=lfs diff=lfs merge=lfs -text
scenario_feat/Sub_Alignment_Recordings/Scenario_4/sub_align_non_matching_spliced_recording1.npy filter=lfs diff=lfs merge=lfs -text
scenario_feat/Full_Alignment_Recordings/Scenario_1/full_align_matching_recording2.npy filter=lfs diff=lfs merge=lfs -text
scenario_feat/Full_Alignment_Recordings/Scenario_2/full_align_non_matching_recording2.npy filter=lfs diff=lfs merge=lfs -text
scenario_feat/Full_Alignment_Recordings/Scenario_4/full_align_NM_Mid_M_recordingB.npy filter=lfs diff=lfs merge=lfs -text
scenario_feat/Sub_Alignment_Recordings/Scenario_3/sub_align_matching_spliced_recording1.npy filter=lfs diff=lfs merge=lfs -text
scenario_feat/Full_Alignment_Recordings/Scenario_1/BacktraceVote filter=lfs diff=lfs merge=lfs -text
scenario_feat/Sub_Alignment_Recordings/Scenario_4/sub_align_non_matching_recording2.npy filter=lfs diff=lfs merge=lfs -text
scenario_feat/Full_Alignment_Recordings/Scenario_1/full_align_matching_recording1.npy filter=lfs diff=lfs merge=lfs -text
scenario_feat/Full_Alignment_Recordings/Scenario_3/BacktraceVote filter=lfs diff=lfs merge=lfs -text
scenario_feat/Full_Alignment_Recordings/Scenario_3/full_align_M_Mid_misM_recordingB.npy filter=lfs diff=lfs merge=lfs -text
scenario_feat/Full_Alignment_Recordings/Scenario_3/Backtraces filter=lfs diff=lfs merge=lfs -text
scenario_feat/Full_Alignment_Recordings/Scenario_2/full_align_non_matching_recording1.npy filter=lfs diff=lfs merge=lfs -text
scenario_feat/Sub_Alignment_Recordings/Scenario_1/sub_align_matching_30sec_recording1.npy filter=lfs diff=lfs merge=lfs -text
scenario_feat/Full_Alignment_Recordings/Scenario_1/Backtraces filter=lfs diff=lfs merge=lfs -text
scenario_feat/Full_Alignment_Recordings/Scenario_4/Costs/D4.npy filter=lfs diff=lfs merge=lfs -text
scenario_feat/Full_Alignment_Recordings/Scenario_1/Backtraces/B1.npy filter=lfs diff=lfs merge=lfs -text
scenario_feat/Full_Alignment_Recordings/Scenario_1/Costs/D1.npy filter=lfs diff=lfs merge=lfs -text
scenario_feat/Full_Alignment_Recordings/Scenario_2/Backtraces/B2.npy filter=lfs diff=lfs merge=lfs -text
scenario_feat/Full_Alignment_Recordings/Scenario_2/Costs/D2.npy filter=lfs diff=lfs merge=lfs -text
scenario_feat/Full_Alignment_Recordings/Scenario_3/Backtraces/B3.npy filter=lfs diff=lfs merge=lfs -text
scenario_feat/Full_Alignment_Recordings/Scenario_3/Costs/D3.npy filter=lfs diff=lfs merge=lfs -text
scenario_feat/Full_Alignment_Recordings/Scenario_4/Backtraces/B4.npy filter=lfs diff=lfs merge=lfs -text
/scenario_feat/Full_Alignment_Recordings/Scenario_1/Backtraces/B1.npy filter=lfs diff=lfs merge=lfs -text
/scenario_feat/Full_Alignment_Recordings/Scenario_1/Costs/D1.npy filter=lfs diff=lfs merge=lfs -text
/scenario_feat/Full_Alignment_Recordings/Scenario_2/Backtraces/B2.npy filter=lfs diff=lfs merge=lfs -text
/scenario_feat/Full_Alignment_Recordings/Scenario_2/Costs/D2.npy filter=lfs diff=lfs merge=lfs -text
/scenario_feat/Full_Alignment_Recordings/Scenario_3/Backtraces/B3.npy filter=lfs diff=lfs merge=lfs -text
/scenario_feat/Full_Alignment_Recordings/Scenario_3/Costs/D3.npy filter=lfs diff=lfs merge=lfs -text
/scenario_feat/Full_Alignment_Recordings/Scenario_4/Backtraces/B4.npy filter=lfs diff=lfs merge=lfs -text
/scenario_feat/Full_Alignment_Recordings/Scenario_4/Costs/D4.npy filter=lfs diff=lfs merge=lfs -text
